# File: .github/workflows/repo-sync.yml

name: repo-sync-ssr-plus
on:
  workflow_dispatch:
  schedule:
    - cron: '0 1 * * 1'
    # UTC时区，比我们东八区早，上面示例为：每周一9点。

jobs:
  repo-sync:
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id
    steps:  
      - uses: actions/checkout@v2
        with:
          persist-credentials: false

      - name: repo-sync
        uses: repo-sync/github-sync@v2
        with:
          source_repo: "https://github.com/fw876/helloworld.git"
          source_branch: "master"
          destination_branch: "master"
          sync_tags: "true"
          github_token: ${{ secrets.PAT }}
